#LoginForm{
    -fx-background-color:black;
    /* -fx-Background-color:rgba(0, 0, 0, 0.9); */
    -fx-border-color:white;
    -fx-border-radius:5px;
    -fx-background-image: url('../background_images/bg2.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;
}
#closeActionTarget,#loginActionTarget,#registerActionTarget{
    -fx-Background-color:rgba(167, 250, 117, 1);
    -fx-font-weight:bold;
}
#LoginRightContainer{
  -fx-Background-color:rgba(255, 255, 255, 2);
  -fx-border-radius: 10px;
  -fx-border-color: rgba(167, 250, 117, 1);
  -fx-background-radius:10px;
}/*
#username{

    -fx-font-color: white;
    -fx-outline: none;
    -fx-border-top: none;
    -fx-outline-style: none;
    -fx-border-left: none;
    -fx-border-right: none;
    -fx-border-bottom:solid 5px white;

} */
