#LoginForm{
    -fx-background-color:black;
    -fx-border-color:white;
    -fx-border-radius:5px;
    -fx-background-image: url('../background_images/bg1Darken.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;
}
#closeActionTarget,#loginActionTarget,#registerActionTarget{
    -fx-Background-color: #1d9ae0;
    -fx-font-weight: Bold;
}
#LoginSmallContainer{
  -fx-Background-color:rgba(0, 0, 0, 0.5);
  -fx-border-radius: 5px;
  -fx-border-color: white;
  -fx-background-radius:10px;
}
