
#module1ActionTarget:hover{
    -fx-opacity : 0.5;
    /*-fx-text-fill : #000000;*/
}

#module2ActionTarget:hover{
    -fx-opacity : 0.5;
    /*-fx-text-fill : #000000;*/
}

#module3ActionTarget:hover{
    -fx-opacity : 0.5;
    /*-fx-text-fill : #000000;*/
}

#module4ActionTarget:hover{
    -fx-opacity : 0.5;
    /*-fx-text-fill : #000000;*/      
}

#module5ActionTarget:hover{
    -fx-opacity : 0.5;
    /*-fx-text-fill : #000000;*/     
}

#closeActionTarget:hover{
    -fx-opacity: 1.0;
    -fx-background-color: #cc0000;
    -fx-text-fill : #cc0000;
}
#maximizeActionTarget:hover{
    -fx-background-color: #9292b9;
    -fx-text-fill : #9292b9;
    -fx-opacity: 1.0;
}
#minimizeActionTarget:hover{
    -fx-opacity: 1.0;
    -fx-background-color:#9292b9;
    -fx-text-fill : #9292b9;
}