#LoginForm{
    -fx-background-color:#274060;

}
/*BUTTONS*/
#closeActionTarget,#loginActionTarget,#registerActionTarget{

    -fx-Background-color:#65AFFF;
    -fx-font-weight:bold;
}
#LoginRightContainer{
  -fx-background-color:#335C81;

}

/*
#username{

    -fx-font-color: white;
    -fx-outline: none;
    -fx-border-top: none;
    -fx-outline-style: none;
    -fx-border-left: none;
    -fx-border-right: none;
    -fx-border-bottom:solid 5px white;

} */
