#LoginForm{
    /**  
    -fx-background-color:#274060;
    -fx-background-image: url("../background_images/bg3.png"); 
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;
}
/*BUTTONS*/
#closeActionTarget, #loginActionTarget, #registerActionTarget{

    -fx-Background-color:#65AFFF;
    -fx-font-weight:bold;
}

/*
#username{

    -fx-font-color: white;
    -fx-outline: none;
    -fx-border-top: none;
    -fx-outline-style: none;
    -fx-border-left: none;
    -fx-border-right: none;
    -fx-border-bottom:solid 5px white;

} */
